*{ Display an Article Record in one of these modes: 'full', 'home' or 'teaser' }*

<script type="text/javascript">  
	$(document).ready(function() {
    	$("#citations-to-expand").slideUp();
	});
	$(function(){  
	    $("#expand-citations").click(function(event) {  
	    	event.preventDefault();  
	    	$("#citations-to-expand").slideToggle();
	    });  
		$("#citations-to-expand a").click(function(event) {  
	    	event.preventDefault();  
	    	$("#citations-to-expand").slideUp();  
		});  
	});
	$(document).ready(function() {
    	$("#mentions-to-expand").slideUp();
	});
	$(function(){  
	    $("#expand-mentions").click(function(event) {  
	    	event.preventDefault();  
	    	$("#mentions-to-expand").slideToggle();
	    });  
		$("#mentions-to-expand a").click(function(event) {  
	    	event.preventDefault();  
	    	$("#mentions-to-expand").slideUp();  
		});  
	});  
</script>

#{ifErrors}
    <p class="error">
        ${errors}
    </p>
#{/ifErrors}

<div class="articleRecord">
    <h2 class="articleRecord-name">
    	<a href="@{Application.show(_articleRecord.id)}">${_articleRecord.name}</a>
    </h2>
    <div class="articleRecord-metadata">
        <span class="articleRecord-submitter">
        	${_articleRecord.year} - 
        </span>
        <span class="articleRecord-submitter"> 
	        #{list items:_articleRecord.authors, as:'author'}
	        	<a href="@{Application.listAuthoredBy(author.name)}">${author.name}</a>${author_isLast ? '' : ', '} 
	        #{/list}
        </span>
        <span class="articleRecord-documents">
            &nbsp;|&nbsp; ${_articleRecord.documents.size() ?: 'no'} 
            document${_articleRecord.documents.size().pluralize()}
            &nbsp;|&nbsp; 
            	#{if _articleRecord.hasNotes()}
            		notes - <img src="/public/images/ok_small.png" alt="ok symbol" width="13" height="13" />
            	#{/if}
            	#{else}
            		notes - <img src="/public/images/no_small.png" alt="ok symbol" width="13" height="13" />
            	#{/else} 
           	&nbsp;|&nbsp; 
           		#{if _articleRecord.hasArticle()}
           			article - <img src="/public/images/ok_small.png" alt="ok symbol" width="13" height="13" />
           		#{/if}
           		#{else}
					article - <img src="/public/images/no_small.png" alt="ok symbol" width="13" height="13" />           		
           		#{/else} 
        </span>
		#{if _articleRecord.tags}
		    <span class="articleRecord-tags">
		        - Tagged 
		        #{list items:_articleRecord.tags, as:'tag'}
		            <a href="@{Application.listTagged(tag.name)}">${tag}</a>${tag_isLast ? '' : ', '}
		        #{/list}
		    </span>
		#{/if}
		&nbsp;|&nbsp;<span class="articleRecord-creationDate">${_articleRecord.creationDate.format('dd MMM yy')}</span>	
    </div>
</div>

#{if _as == 'full'}
    <div class="documents">
        <h3>
            ${_articleRecord.documents.size() ?: 'no'} 
            document${_articleRecord.documents.size().pluralize()}
        </h3>
        
        #{list items:_articleRecord.documents, as:'document'}
            <div class="document">
                <div class="document-content-${document.type.isArticleType() ? 'article' : 'notes'}">
                	<span class="document-identification">
                		${document.type}: ${document.identification}
                	</span>
                    <span class="document-creationDate">
                        ${document.creationDate.format('dd MMM yy')}
                    </span>
                    
                   	<a href="@{Application.removeDocument(_articleRecord.id, document.id)}">Remove</a>
                    <a href="@{downloadDocument(document.id)}">Download</a>
                </div>
            </div>
        #{/list}
        
    </div>
    <div class="citations">
    	<h3>
    		${_articleRecord.references.size() ?: 'no'}
    		citation${_articleRecord.references.size().pluralize()}
    		<span id="expand-citations-link">
    			<a href="#" id="expand-citations"><span>+</span></a>
			</span>
    	</h3>
    	
    	<div id="citations-to-expand">
	    	#{list items:_articleRecord.getOrderedCitations(), as:'reference'}
	    		<div class="citation">
	    			<div class="citation-content">
	    				<span class="citation-identification">
	    					[${reference.bibNum}]: ${reference.reference}
	    				</span>
	    				<span class="citation-string">
	    					${reference.citation}
	    				</span>
	    			</div>
	    		</div>
	    	#{/list}
    	</div>
    </div>
    <div class="citations">
    	<h3>
    		${_articleRecord.referencedBy.size() ?: 'no'}
    		mention${_articleRecord.referencedBy.size().pluralize()}
    		<span id="expand-mentions-link">
    			<a href="#" id="expand-mentions"><span>+</span></a>
			</span>
    	</h3>
    	
    	<div id="mentions-to-expand">
	    	#{list items:_articleRecord.referencedBy, as:'reference'}
	    		<div class="citation">
	    			<div class="citation-content">
	    				<span class="citation-identification">
	    					${reference.recordThatReferences.name}
	    				</span>
	    				<span class="citation-string">
	    					${reference.citation}
	    				</span>
	    			</div>
	    		</div>
	    	#{/list}
    	</div>
    </div>
#{/if}