#{extends 'main.html' /}
#{set title:'Articles authored by ' + author /}
 
*{********* Title ********* }*
 
#{if articleRecords.size() > 1}
   <h3>There are ${articleRecords.size()} articles authored by '${author}'</h3>  
#{/if} 
#{elseif articleRecords}
    <h3>There is 1 article authored by '${author}'</h3>  
#{/elseif}
#{else}
    <h3>No articles authored by '${author}'</h3>
#{/else}
 
*{********* Articles list *********}*
 
<div class="older-articleRecords">    
    #{list items:articleRecords, as:'articleRecord'}
        #{display articleRecord:articleRecord, as:'teaser' /}
    #{/list}
</div> 