#{extends 'main.html' /}
#{set title:articleRecord.name /}
 
<ul id="pagination">
    #{if articleRecord.previous()}
        <li id="previous">
            <a href="@{Application.show(articleRecord.previous().id)}">
                ${articleRecord.previous().name}
            </a>
        </li>
    #{/if}
    #{if articleRecord.next()}
        <li id="next">
            <a href="@{Application.show(articleRecord.next().id)}">
                ${articleRecord.next().name}
            </a>
        </li>
    #{/if}
</ul>
 
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
 
#{display articleRecord:articleRecord, as:'full' /}

<a href="@{Application.newDocument(articleRecord.id)}">
    Upload a new Document
</a>